@tailwind base;
@tailwind components;
@tailwind utilities;

/* Page transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease-in-out;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.2rem);
}

/* Base typography styles */
@layer base {
  .layout-container {
    @apply container mx-auto max-w-4xl px-6 sm:px-8 lg:px-12;
  }

body
{
  background-color: #fffcf0; /*  Use your flexoki-light-bg color */
}
.dark body {
  background-color: #1c1b1a; /* Use your flexoki-dark-bg color */
}
  /* Headings */
  /* Headings */
h1 {
  @apply text-5xl font-classic italic leading-tight sm:text-7xl mb-12;
}
h2 {
  @apply text-4xl font-semibold font-classic italic leading-snug sm:text-6xl mb-10;
}
h3 {
  @apply text-3xl font-medium font-classic italic tracking-normal leading-snug sm:text-5xl mb-8;
}
h4 {
  @apply text-2xl font-serif tracking-tight leading-snug sm:text-4xl mb-6;
}
h5 {
  @apply text-xl font-light font-sans tracking-tight leading-relaxed sm:text-3xl mb-4;
}
h6 {
  @apply text-lg font-medium font-serif italic tracking-normal leading-relaxed sm:text-2xl mb-2;
}

/* Paragraphs */
p {
  @apply text-sm sm:text-base font-sans font-normal leading-relaxed mb-6;
}
p i, p em {
  @apply font-serif text-base sm:text-lg italic;
}

/* Links */

a[href^='http'], a[href^='mailto'] {
    @apply hover:text-flexoki-light-bl-2 underline transition duration-200 ease-in-out;
  }

  /* Lists */
  ul,
  ol {
    @apply list-disc mb-4;
  }
  ul li,
  ol li {
    @apply text-base font-sans leading-relaxed;
  }

  /* Blockquotes */
  blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic text-gray-600 text-lg sm:text-xl mb-6;
  }

  /* Inline code */
  code {
    @apply px-1 pb-0.5 rounded font-mono text-sm whitespace-pre-wrap break-words;
  }

  /* Preformatted code blocks */
  pre {
    @apply bg-gray-900 text-gray-100 p-4 rounded-lg overflow-x-auto text-sm;
  }

  /* Emphasis */
  strong {
    @apply font-bold text-gray-900;
  }
  i,
  em {
    @apply font-serif italic;
  }

  /* Horizontal rule */
  hr {
    @apply border-t border-gray-300 my-6;
  }

  /* Tables */
  table {
    @apply table-auto w-full border-collapse border border-gray-300 my-6;
  }
  th,
  td {
    @apply border border-gray-300 px-4 pb-2 text-left;
  }
  th {
    @apply bg-gray-100 font-semibold;
  }

  /* Images */
  img {
    @apply max-w-full h-auto rounded-lg shadow-sm;
  }

  /* Headings and paragraph spacing */
  p,
  ul,
  ol,
  blockquote {
    @apply mt-4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  strong,
  em,
  ol,
  blockquote,
  code,
  a
  {
  @apply text-flexoki-dark-ui dark:text-flexoki-light-ui;
  }

  p,
  ul,
  li,
  ol,
  blockquote,
  code
  {
  @apply text-flexoki-dark-ui-2 dark:text-flexoki-light-tx-3;
  }
}

