@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter-active,
.page-leave-active {
    transition: all 0.1s;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(0.2rem);
}


@layer base {
    .layout-container {
        @apply container mx-auto max-w-3xl p-4
        }
    h1 {
      @apply text-4xl font-bold tracking-tight leading-tight sm:text-5xl;
    }
    h2 {
      @apply text-3xl font-semibold leading-tight sm:text-4xl;
    }
    h3 {
      @apply text-2xl font-medium leading-snug sm:text-3xl;
    }
    h4 {
      @apply text-xl font-medium leading-snug sm:text-2xl;
    }
    h5 {
      @apply text-lg font-medium leading-snug sm:text-xl;
    }
    h6 {
      @apply text-base font-medium leading-snug sm:text-lg;
    }
    p {
      @apply text-base font-sans tracking-tight leading-relaxed text-gray-700 sm:text-lg;
    }
  }
